<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>


    <%= f.input :content, label: false, autofocus: true, required: true, placeholder: "Enter Task Here" %>

  <div class="form-actions form-group">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
