<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Forgot your password?</h2>

		<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= render partial: 'layouts/devisemessage' %>

	  <div class="form-group">
	    <%= f.input :email, required: true, autofocus: true, class: 'form-control', placeholder: 'Email Address', label: false %>
	  </div>

	  <div class="form-actions form-group">
	    <%= f.button :submit, "Send me reset password instructions", class: 'btn btn-primary' %>
	  </div>
	<% end %>
	</div>
</div>

