<div id="home_page_header">
	<h2>TODO APPLICATION</h2>
	<hr>
	<h1>Let's start with your day</h1>
	<p>You have things to do and meetings to lead. Right now, you probably have a basic to-do list for <br>your work and a calender to manage meetings/tasks</p>
</div>